<div class="container">
  <div class="card">
    <h1>My Bookings</h1>
    <ul>
      <% @bookings.each do |booking| %>
      <li><%= booking.start_date %>
      <%= booking.end_date %></li>
      <% end %>
    </ul>
  </div>
</div>
