<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.hdfcbank.com/content/api/contentstream-id/723fb80a-2dde-42a3-9793-7ae1be57c87f/6f1769d4-0c1e-478a-959c-bb8d4c162b3d/Personal/Save/Safe%20Deposit%20Locker/01_Safe_Deposit_Locker_banner1.png);">
  <div class="container">
    <h1>Loca-locker <strong>- lockers solutions</strong> to <strong>travellers people</strong>!</h1>
    <p>Fast, easy and safe</p>
    <a class="btn btn-flat" href="#">lock now</a>
  </div>
</div>
