<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.urbanparkgru.com.br/dicas-de-viagem/wp-content/uploads/2019/05/amazon-locker.png);">
  <div class="container">
    <h1 id="banner">Store Your Bags With A Few Clicks</h1>
    <p>Search For A Luggage Storage Location Near You</p>
    <%= render 'shared/search_form' %>
  </div>
</div>
