<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.urbanparkgru.com.br/dicas-de-viagem/wp-content/uploads/2019/05/amazon-locker.png);">
  <div class="container">
    <h1>Loca-locker <strong>solutions</strong> to <strong>travellers people</strong>!</h1>
    <p>Fast, easy and safe</p>
    <a class="btn btn-flat" href="#">lock now</a>
  </div>
</div>
