<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= locker.address %></h2>
      <p><%= locker.size %></p>
    </div>
    <h2 class="card-trip-pricing"><%= locker.price %> €/h</h2>
  </div>
</div>
