<%= render 'shared/banner' %>

<div class="cards">

  <div class="card-category" id="small-locker" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://www.3dlockers.co.uk/_assets/img/site/products/large/1000-high-security-cupboard.jpg)">
    Small Lockers
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://www.3dlockers.co.uk/_assets/img/site/products/large/small-chemical-coshh-cabinet-900-x-460-x-460.jpg)">
    Medium Lockers
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://www.3dlockers.co.uk/_assets/img/site/products/large/1800high-security-cupboard.jpg)">
    Large Lockers
  </div>

</div>
