<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1580586175/ntpyaym6fuq3mq3ktv3t.jpg" %>
      </div>
    </div>

    <div class="col-md-9 personal-info">
      <h5><u>Your Details</u></h5>
      <br />
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <p><u>First Name</u></p>
          <%= current_user.first_name %>
        </div>
        <hr>

        <div class="form-group">
          <p><u>Last Name</u></p>
          <%= current_user.last_name %>
        </div>
        <hr>

        <div class="form-group">
          <p><u>Email</u></p>
          <%= current_user.email %>
        </div>
        <br />

        <div class="form-group">
            <a href="users/edit" class="btn btn-info" role="button"><strong>Edit Details</strong></a>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
