<head>
<title>new Loca Lockers index</title>
</head>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6" id="card-index">
      <%= render 'shared/card' %>
    </div>

    <div class="col-sm-12 col-lg-6">
      <div
        id="map"
        style="width: 98%;
        height: 600px;
        margin-top: 37px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
</div>


